.navbar{
    text-align: center;
}
ul{
    display: flex;
    justify-content: center;
}
ul li{
    display: inline-block;
    
}
ul li a{
    text-decoration: none;
    color: rgb(14, 14, 14);
    margin:0 2px;
    padding: 3px 5px;
    background-color: bisque;
    font-size: 20px;
    border: 1px solid black;
}
ul li a:hover{
    color: bisque;
    background-color: black;
    border: 1px solid bisque;
}

/* Form style */
label{
    display: block;
    margin-bottom: 5px;
}
form{
    width: 500px;
    margin:auto;
    padding: 10px 10px;
}

/* Table style */
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px 2px;
}
.tabil{
    width:500px;
    margin: auto;
    padding: 20px 0px;
}